<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="dist/css/bootstrap.min.css">
<link rel="stylesheet" href="../view/css/main.css">
<script src="dist/js/bootstrap.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Help Me!</title>
</head>

<body>
  <div class="container-fluid margin-top">
     <div class="row">
        
        <div class="col-md-6">
          <h4>Sytem Information</h4>
          <div class="form-group margin-top">
            <label for="email">Name:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
           <div class="form-group">
            <label for="email">OS:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Version:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Description:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Manufacturer:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Model:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Total Physical Memory:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
        <div class="col-md-6">
          <h4>Process</h4>
           <div class="form-group margin-top">
            <label for="email">User Name:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
           <div class="form-group">
            <label for="email">Process Manufacture:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Clock Speed:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Current Clock Speed:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Processor Name:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">Ip Address:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="email">MAC Address:</label>
            <input type="email" class="form-control" id="email" name="email">
          </div>
        </div>
     </div>
  </div>
</body>

</html>